.about {
    flex-direction: column;
    text-align: center;
}

.about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__info {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.about__item {
    margin: 0.5em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about__item h3 {
    font-size: 20px;
}

.about__item p {
    font-size: 18px;
}